* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 280px;
  background-color: #e5e5e5;
  font-family: "Montserrat";
  font-style: normal;
  margin: 0 auto;
}

h2 {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
}
.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
}

.active p {
  font-size: 16px;
  color: #666666;
}

.active .arrow {
  background-image: url(./assets/Chevron-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 5px;
}

.wrapper {
  margin-top: 8px;
  width: 280px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 20px;
}

.wrapper p {
  padding: 20px 0;
}
